/* -----------------------------------------------------------------------------
Font Configuration
----------------------------------------------------------------------------- */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/roboto-italic-400.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/roboto-normal-500.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/roboto-italic-500.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/roboto-italic-300.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/roboto-italic-100.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/roboto-normal-700.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/roboto-normal-900.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/roboto-normal-100.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/roboto-italic-700.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/roboto-italic-900.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/roboto-normal-300.woff2) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto-normal-400.woff2) format("woff");
}

@font-face {
  font-family: "And Black";
  src: url("../fonts/and_black.eot?#iefix") format('embedded-opentype'),
       url("../fonts/and_black.woff") format('woff'),
       url("../fonts/and_black.ttf") format('truetype');
}

* {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

/* -----------------------------------------------------------------------------
Specific adjust
----------------------------------------------------------------------------- */
*:focus {
    outline: 0 solid transparent;
}


/* -----------------------------------------------------------------------------
MDL CM Clases
----------------------------------------------------------------------------- */






/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.ct-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.ct-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.ct-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #761422 !important;
  color: black !important;
}

.ct-mobile-title {
  display: none !important;
}


.ct-logo-image {
  height: 28px;
  width: auto;
}

.ct-logo-image.ct-logo-shield{
  height: auto;
  width: 140px;
}


.ct-header {
  overflow: visible;
  background-color: white;
}

  .ct-header .material-icons {
    color: #767777 !important;
  }

  .ct-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .ct-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .ct-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .ct-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .ct-search-box.is-focused ~ .ct-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .ct-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .ct-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #761422;
      color: white;
    }

  .ct-search-box {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .ct-more-button {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.ct-drawer {
  border-right: none;
}

  .ct-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .ct-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .ct-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .ct-drawer span.mdl-navigation__link:hover {
    color: #761422!important;
  }

  .ct-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
  }

    .ct-drawer .ct-logo-image {
      position: absolute;
      bottom: 16px;
    }

.ct-community-training-section {
  position: relative;
  height: 90vh;
  width: auto;
  background-color: #f3f3f3;
  background: url('../img/main_banner.jpg') center 30% no-repeat;
  background-size: cover;
}

.ct-font {
  font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 300;
}

.ct-slogan {
  font-size: 60px;
  padding-top: 12vh;
}

.ct-sub-slogan {
  font-size: 21px;
  padding-top: 6vh;
}

.ct-create-character {
  font-size: 21px;
  padding-top: 25vh;
}

  .ct-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

  .ct-create-character img {
    height: 30px;
  }

.ct-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.ct-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.ct-screen {
  text-align: center;
}

.ct-screen .ct-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.ct-image-link {
  text-decoration: none;
}

.ct-motivation {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .ct-motivation .ct-screen-image {
    width: 40%;
    z-index: 1;
  }


.ct-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .ct-phone .ct-screen-image {
    width: 100%;
    z-index: 1;
  }


.ct-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .ct-tablet .ct-screen-image {
    width: 100%;
    z-index: 1;
  }

  .ct-tablet .ct-link {
    display: block;
    z-index: 2;
  }


.ct-community {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .ct-community .ct-screen-image {
    width: 100%;
    z-index: 1;
  }


.ct-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

  .ct-auto .ct-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }


.ct-motivation-section {
  position: relative;
  background: url('images/wear.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.ct-motivation-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.ct-motivation-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

  .ct-motivation-band-text p {
    padding-top: 8px;
  }

.ct-link {
  text-decoration: none;
  color: #8bc34a !important;
}

  .ct-link:hover {
    color: #7cb342 !important;
  }

  .ct-link .material-icons {
    position: relative;
    top: 6px;
  }

.ct-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

  .ct-alt-link:hover {
    color: #00bfa5 !important;
  }

  .ct-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.ct-customized-section {
  text-align: center;
}

.ct-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .ct-customized-section-text p {
    padding-top: 16px;
  }

.ct-customized-section-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.ct-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .ct-more-section .ct-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.ct-card-container {
}

  .ct-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .ct-card-container .mdl-card__media img {
      width: 100%;
    }

  .ct-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .ct-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .ct-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 48px;
  }

  .ct-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .ct-card-container .mdl-card__actions a {
    border-top: none;
    line-height: 32px;
    font-size: 16px;
  }

.ct-footer {
  background-color: #fafafa;
  position: relative;
}

  .ct-footer a:hover {
    color: #8bc34a;
  }

  .ct-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .ct-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .ct-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .ct-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .ct-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.ct-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .ct-navigation-container {
    display: none;
  }

  .ct-title {
    display: none !important;
  }

  .ct-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .ct-search-box.is-focused ~ .ct-mobile-title {
    opacity: 0;
  }

  .ct-more-button {
    display: none;
  }

  .ct-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .ct-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .ct-community-training-section {
    height: 350px;
  }

  .ct-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .ct-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .ct-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .ct-create-character img {
    height: 12px;
  }

  .ct-fab {
    display: none;
  }

  .ct-motivation-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .ct-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}

.ct-bg-blue{
  background-color: #0d1c27;
}

.ct-text-blue{
  color: #0d1c27!important;
}

.ct-bg-red{
  background-color: #761422;
}

.ct-text-red{
  color: #761422!important;
}

.ct-top-border-red{
  border-top: 5px solid #761422;
}


