/* -------------------------------------------------------------------------- */
/* Color
/* -------------------------------------------------------------------------- */
  .ct-red         { background-color: #761422!important; }
  .ct-red-text    {            color: #761422!important; }
  .ct-red-border  {     border-color: #761422!important; }

  .ct-blue        { background-color: #0D1C27!important; }
  .ct-blue-text   {            color: #0D1C27!important; }
  .ct-blue-border {     border-color: #0D1C27!important; }

/* -------------------------------------------------------------------------- */
/* Layout
/* -------------------------------------------------------------------------- */
  /* General Layout */
    html,
    body{
      overflow-x: hidden;
    }

    /* Preloader */
    body.not-loaded {
      overflow: hidden;
      height: 100%;
      width: 100%;
    }

    .ct-preloader {
      position: fixed;
      overflow-x: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #FFFFFF;
      background-image: url('../img/shield_512.png');
      background-position: center;
      background-size: auto 50%;
      background-repeat: no-repeat;
      opacity: 1;
      z-index: 10000;

      -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
           -o-transition: all 1s ease-in-out;
              transition: all 1s ease-in-out;
    }

    .ct-preloader .ct-preloader--progres-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 5px;
      background-color: rgba(118, 20, 34, 0.15);
    }

    .ct-preloader .ct-preloader--progres-bar .ct-preloader--progres-indicator {
      height: 5px;
      width: 15px;
      background-color: #761422;
      -webkit-transition: width .25s ease-in;
         -moz-transition: width .25s ease-in;
          -ms-transition: width .25s ease-in;
           -o-transition: width .25s ease-in;
              transition: width .25s ease-in;
    }

    body.loaded .ct-preloader {
      opacity: 0;
      pointer-events: none;
    }

  /* Landing Page Layout */
    .ct-layout {
      position: relative;
      display: flex;
      height: auto;
      min-height: 100vh;
      flex-direction: column;
    }

    /* Header Layout - Navigation */
      .ct-layout header#header {
      }

      .ct-layout .navbar-fixed nav{
        -webkit-box-sizing: content-box;
           -moz-box-sizing: content-box;
                box-sizing: content-box;
        border-top: 5px solid #761422;
        padding: 0 15px;
        line-height: 59px;
      }

      .ct-layout nav .brand-logo img {
        height: 2.1rem;
        width: auto;
        display: inline-block;
        vertical-align: middle;
      }

      .ct-layout nav ul:not(.side-nav) li:hover,
      .ct-layout nav ul:not(.side-nav) li.active {
        border-bottom: 5px solid #761422;
      }

      .ct-layout header#header .dropdown-content {
        -webkit-transform: translateY(5px);
           -moz-transform: translateY(5px);
            -ms-transform: translateY(5px);
             -o-transform: translateY(5px);
                transform: translateY(5px);
      }

      .ct-layout header#header .dropdown-content li:hover {
        border-bottom: 0 solid transparent;
      }

      .ct-layout header#header .dropdown-content li>a,
      .ct-layout header#header .dropdown-content li>span {
        color: #761422;
      }

      .ct-layout header#header ul.side-nav::-webkit-scrollbar {
          display: none;
      }

      .ct-layout header#header ul.side-nav li.ct-logo {
        border-top: 5px solid #761422;
        height: 180px;
      }

      .ct-layout header#header ul.side-nav li.ct-logo:hover {
        background-color: transparent;
      }

      .ct-layout header#header ul.side-nav li.ct-logo a {
        height: 180px;
        background-image: url(../img/shield_256.png);
        background-position: center;
        background-size: 85% auto;
        background-repeat: no-repeat;
      }

      .ct-layout header#header ul.side-nav li.item-title > span {
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        padding: 0 15px;
      }

      .ct-layout nav ul li.ct-registration {
        line-height: inherit;
        padding: 0 0 0 15px;
      }

      .ct-layout nav ul.side-nav li.ct-registration {
        padding: 10px 15px;
      }

      .ct-layout nav ul li.ct-registration:hover {
        border: 0 solid transparent!important;
        background-color: transparent;
      }

      .ct-layout nav ul.side-nav li.ct-registration a {
        line-height: 44px;
        height: 44px;
      }

      .ct-layout nav ul li.ct-registration .btn {
        -webkit-transition: all .5s ease-in-out;
           -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
             -o-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
      }
      .ct-layout nav ul li.ct-registration .btn:hover,
      a.ct-registration.btn:hover {
        background-color: #ab1d31!important;
      }

    /* Main Layout - Home Sections */
    body.ct-home .ct-layout main#main {
      /* sticky footer */
      flex: 1 0 auto;
    }

    body.ct-home .ct-layout .ct-sections {
      margin: 0;
      padding: 0;
    }

    body.ct-home .ct-layout .ct-sections #ct-welcome {
      min-height: 320px;
      position: relative;
      background-color: #FFFFFF;
      background-image: url('../img/shield_512.png');
      background-position: center bottom;
      background-size: auto 80%;
      background-repeat: no-repeat;
      font-size: 2rem;
    }

    #ct-welcome-message,
    #ct-slogan {
      padding: 30px 0;
    }

    #ct-welcome-message h1,
    #ct-slogan h2 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }
    #ct-welcome-message h1 {
      font-size: 2rem;
    }

    #ct-slogan h2 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .card.ct-community-card .card-image{
      margin: 10px;
      height: 80px;
      background-color: #FFFFFF;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ct-layout .parallax-container {
      height: 320px;
    }

    a.ct-repo.btn{
      width: 100%;
    }
    a.ct-repo.btn *{
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    a.ct-repo.btn:hover {
      background-color: #234c69!important;
    }
