/* Colors */
.gray-gradient{
    background: -webkit-linear-gradient(to top, #9e9e9e 10%, #bdbdbd 25%, #e0e0e0 40%, #eeeeee 55%, #f5f5f5 70%, #fafafa 85%)!important;
    background:    -moz-linear-gradient(to top, #9e9e9e 10%, #bdbdbd 25%, #e0e0e0 40%, #eeeeee 55%, #f5f5f5 70%, #fafafa 85%)!important;
    background:      -o-linear-gradient(to top, #9e9e9e 10%, #bdbdbd 25%, #e0e0e0 40%, #eeeeee 55%, #f5f5f5 70%, #fafafa 85%)!important;
    background:         linear-gradient(to top, #9e9e9e 10%, #bdbdbd 25%, #e0e0e0 40%, #eeeeee 55%, #f5f5f5 70%, #fafafa 85%)!important;
}


/* Navigation */
@media only screen and (min-width: 993px) {
    nav .brand-logo{
        padding-left: 15px;
    }
}

.side-nav.below-nav-bar{
    margin-top: 56px;
}

@media only screen and (min-width: 601px){
    .side-nav.below-nav-bar{
        margin-top: 64px;
    }
}

nav a.button-collapse{
    padding-left: 15px;
}

/* Footer */
footer *{
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}

footer.page-footer .brand-logo{
    display: inline-block;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
}

footer.page-footer .brand-logo *{
    display: inline-block;
    vertical-align: middle;
}

footer.page-footer .brand-logo > img{
    height: 40px;
}

@media only screen and (min-width: 601px){
    footer.page-footer .brand-logo{
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 20px;
    }

    footer.page-footer .brand-logo > img{
        height: 48px;
    }
}

@media only screen and (min-width: 993px){
    footer.page-footer .brand-logo{
        font-size: 56px;
        line-height: 56px;
        margin-bottom: 25px;
    }

    footer.page-footer .brand-logo > img{
        height: 56px;
    }
}

nav a.login-icon {
  text-align: center;
  display: block;
  padding: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #212121;
  margin-right: 15px;
  margin-top: 5px;
  height: 46px;
  width: 46px;
  line-height: 46px;
  float: right;
}

nav a.login-icon i{
  line-height: 46px;
}

@media only screen and (min-width: 601px){
    nav a.login-icon,
    nav a.login-icon i{
        height: 54px;
        width: 54px;
        line-height: 54px;
    }
}
/* Layout */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none!important;
    text-align:left;
    margin-right:-4px;
}

.border-bottom.light-border{
  border-bottom: 1px solid #fafafa!important;
}
