/* -------------------------------------------------------------------------- */
/* Text weight
/* -------------------------------------------------------------------------- */
  .text100, .text-thin{
    font-weight: 100!important;
  }

  .text200{
    font-weight: 200!important;
  }

  .text300{
    font-weight: 300!important;
  }

  .text400, .text-normal{
    font-weight: 400!important;
  }

  .text500{
    font-weight: 500!important;
  }

  .text600{
    font-weight: 600!important;
  }

  .text700, .text-bold{
    font-weight: 700!important;
  }

  .text800{
    font-weight: 800!important;
  }

  .text900{
    font-weight: 900!important;
  }

/* -------------------------------------------------------------------------- */
/* Text justification
/* -------------------------------------------------------------------------- */
  .justify-align{
    text-align: justify;
  }

/* -------------------------------------------------------------------------- */
/* Text transform
/* -------------------------------------------------------------------------- */
  .smallcaps{
    font-variant: small-caps;
  }

/* -------------------------------------------------------------------------- */
/* Absolute margin
/* -------------------------------------------------------------------------- */
  .s-mar-0 {
    margin:0px!important;
  }

  .s-mar-5 {
    margin:5px!important;
  }

  .s-mar-10 {
    margin:10px!important;
  }

  .s-mar-15 {
    margin:15px!important;
  }

  .s-mar-20 {
    margin:20px!important;
  }

  .s-mar-25 {
    margin:25px!important;
  }

  .s-mar-30 {
    margin:30px!important;
  }

  .s-mar-35 {
    margin:35px!important;
  }

  .s-mar-40 {
    margin:40px!important;
  }

  .s-mar-45 {
    margin:45px!important;
  }

  .s-mar-50 {
    margin:50px!important;
  }

  @media (min-width: 601px) {
    .m-mar-0 {
      margin:0px!important;
    }

    .m-mar-5 {
      margin:5px!important;
    }

    .m-mar-10 {
      margin:10px!important;
    }

    .m-mar-15 {
      margin:15px!important;
    }

    .m-mar-20 {
      margin:20px!important;
    }

    .m-mar-25 {
      margin:25px!important;
    }

    .m-mar-30 {
      margin:30px!important;
    }

    .m-mar-35 {
      margin:35px!important;
    }

    .m-mar-40 {
      margin:40px!important;
    }

    .m-mar-45 {
      margin:45px!important;
    }

    .m-mar-50 {
      margin:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-mar-0 {
      margin:0px!important;
    }

    .l-mar-5 {
      margin:5px!important;
    }

    .l-mar-10 {
      margin:10px!important;
    }

    .l-mar-15 {
      margin:15px!important;
    }

    .l-mar-20 {
      margin:20px!important;
    }

    .l-mar-25 {
      margin:25px!important;
    }

    .l-mar-30 {
      margin:30px!important;
    }

    .l-mar-35 {
      margin:35px!important;
    }

    .l-mar-40 {
      margin:40px!important;
    }

    .l-mar-45 {
      margin:45px!important;
    }

    .l-mar-50 {
      margin:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Margin top
/* -------------------------------------------------------------------------- */
  .s-mar-t0 {
    margin-top:0px!important;
  }

  .s-mar-t5 {
    margin-top:5px!important;
  }

  .s-mar-t10 {
    margin-top:10px!important;
  }

  .s-mar-t15 {
    margin-top:15px!important;
  }

  .s-mar-t20 {
    margin-top:20px!important;
  }

  .s-mar-t25 {
    margin-top:25px!important;
  }

  .s-mar-t30 {
    margin-top:30px!important;
  }

  .s-mar-t35 {
    margin-top:35px!important;
  }

  .s-mar-t40 {
    margin-top:40px!important;
  }

  .s-mar-t45 {
    margin-top:45px!important;
  }

  .s-mar-t50 {
    margin-top:50px!important;
  }

  @media (min-width: 601px) {
    .m-mar-t0 {
      margin-top:0px!important;
    }

    .m-mar-t5 {
      margin-top:5px!important;
    }

    .m-mar-t10 {
      margin-top:10px!important;
    }

    .m-mar-t15 {
      margin-top:15px!important;
    }

    .m-mar-t20 {
      margin-top:20px!important;
    }

    .m-mar-t25 {
      margin-top:25px!important;
    }

    .m-mar-t30 {
      margin-top:30px!important;
    }

    .m-mar-t35 {
      margin-top:35px!important;
    }

    .m-mar-t40 {
      margin-top:40px!important;
    }

    .m-mar-t45 {
      margin-top:45px!important;
    }

    .m-mar-t50 {
      margin-top:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-mar-t0 {
      margin-top:0px!important;
    }

    .l-mar-t5 {
      margin-top:5px!important;
    }

    .l-mar-t10 {
      margin-top:10px!important;
    }

    .l-mar-t15 {
      margin-top:15px!important;
    }

    .l-mar-t20 {
      margin-top:20px!important;
    }

    .l-mar-t25 {
      margin-top:25px!important;
    }

    .l-mar-t30 {
      margin-top:30px!important;
    }

    .l-mar-t35 {
      margin-top:35px!important;
    }

    .l-mar-t40 {
      margin-top:40px!important;
    }

    .l-mar-t45 {
      margin-top:45px!important;
    }

    .l-mar-t50 {
      margin-top:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Margin right
/* -------------------------------------------------------------------------- */
  .s-mar-r0 {
    margin-right:0px!important;
  }

  .s-mar-r5 {
    margin-right:5px!important;
  }

  .s-mar-r10 {
    margin-right:10px!important;
  }

  .s-mar-r15 {
    margin-right:15px!important;
  }

  .s-mar-r20 {
    margin-right:20px!important;
  }

  .s-mar-r25 {
    margin-right:25px!important;
  }

  .s-mar-r30 {
    margin-right:30px!important;
  }

  .s-mar-r35 {
    margin-right:35px!important;
  }

  .s-mar-r40 {
    margin-right:40px!important;
  }

  .s-mar-r45 {
    margin-right:45px!important;
  }

  .s-mar-r50 {
    margin-right:50px!important;
  }

  @media (min-width: 601px) {
    .m-mar-r0 {
      margin-right:0px!important;
    }

    .m-mar-r5 {
      margin-right:5px!important;
    }

    .m-mar-r10 {
      margin-right:10px!important;
    }

    .m-mar-r15 {
      margin-right:15px!important;
    }

    .m-mar-r20 {
      margin-right:20px!important;
    }

    .m-mar-r25 {
      margin-right:25px!important;
    }

    .m-mar-r30 {
      margin-right:30px!important;
    }

    .m-mar-r35 {
      margin-right:35px!important;
    }

    .m-mar-r40 {
      margin-right:40px!important;
    }

    .m-mar-r45 {
      margin-right:45px!important;
    }

    .m-mar-r50 {
      margin-right:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-mar-r0 {
      margin-right:0px!important;
    }

    .l-mar-r5 {
      margin-right:5px!important;
    }

    .l-mar-r10 {
      margin-right:10px!important;
    }

    .l-mar-r15 {
      margin-right:15px!important;
    }

    .l-mar-r20 {
      margin-right:20px!important;
    }

    .l-mar-r25 {
      margin-right:25px!important;
    }

    .l-mar-r30 {
      margin-right:30px!important;
    }

    .l-mar-r35 {
      margin-right:35px!important;
    }

    .l-mar-r40 {
      margin-right:40px!important;
    }

    .l-mar-r45 {
      margin-right:45px!important;
    }

    .l-mar-r50 {
      margin-right:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Margin bottom
/* -------------------------------------------------------------------------- */
  .s-mar-b0 {
    margin-bottom:0px!important;
  }

  .s-mar-b5 {
    margin-bottom:5px!important;
  }

  .s-mar-b10 {
    margin-bottom:10px!important;
  }

  .s-mar-b15 {
    margin-bottom:15px!important;
  }

  .s-mar-b20 {
    margin-bottom:20px!important;
  }

  .s-mar-b25 {
    margin-bottom:25px!important;
  }

  .s-mar-b30 {
    margin-bottom:30px!important;
  }

  .s-mar-b35 {
    margin-bottom:35px!important;
  }

  .s-mar-b40 {
    margin-bottom:40px!important;
  }

  .s-mar-b45 {
    margin-bottom:45px!important;
  }

  .s-mar-b50 {
    margin-bottom:50px!important;
  }

  @media (min-width: 601px) {
    .m-mar-b0 {
      margin-bottom:0px!important;
    }

    .m-mar-b5 {
      margin-bottom:5px!important;
    }

    .m-mar-b10 {
      margin-bottom:10px!important;
    }

    .m-mar-b15 {
      margin-bottom:15px!important;
    }

    .m-mar-b20 {
      margin-bottom:20px!important;
    }

    .m-mar-b25 {
      margin-bottom:25px!important;
    }

    .m-mar-b30 {
      margin-bottom:30px!important;
    }

    .m-mar-b35 {
      margin-bottom:35px!important;
    }

    .m-mar-b40 {
      margin-bottom:40px!important;
    }

    .m-mar-b45 {
      margin-bottom:45px!important;
    }

    .m-mar-b50 {
      margin-bottom:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-mar-b0 {
      margin-bottom:0px!important;
    }

    .l-mar-b5 {
      margin-bottom:5px!important;
    }

    .l-mar-b10 {
      margin-bottom:10px!important;
    }

    .l-mar-b15 {
      margin-bottom:15px!important;
    }

    .l-mar-b20 {
      margin-bottom:20px!important;
    }

    .l-mar-b25 {
      margin-bottom:25px!important;
    }

    .l-mar-b30 {
      margin-bottom:30px!important;
    }

    .l-mar-b35 {
      margin-bottom:35px!important;
    }

    .l-mar-b40 {
      margin-bottom:40px!important;
    }

    .l-mar-b45 {
      margin-bottom:45px!important;
    }

    .l-mar-b50 {
      margin-bottom:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Margin left
/* -------------------------------------------------------------------------- */
  .s-mar-l0 {
    margin-left:0px!important;
  }

  .s-mar-l5 {
    margin-left:5px!important;
  }

  .s-mar-l10 {
    margin-left:10px!important;
  }

  .s-mar-l15 {
    margin-left:15px!important;
  }

  .s-mar-l20 {
    margin-left:20px!important;
  }

  .s-mar-l25 {
    margin-left:25px!important;
  }

  .s-mar-l30 {
    margin-left:30px!important;
  }

  .s-mar-l35 {
    margin-left:35px!important;
  }

  .s-mar-l40 {
    margin-left:40px!important;
  }

  .s-mar-l45 {
    margin-left:45px!important;
  }

  .s-mar-l50 {
    margin-left:50px!important;
  }

  @media (min-width: 601px) {
    .m-mar-l0 {
      margin-left:0px!important;
    }

    .m-mar-l5 {
      margin-left:5px!important;
    }

    .m-mar-l10 {
      margin-left:10px!important;
    }

    .m-mar-l15 {
      margin-left:15px!important;
    }

    .m-mar-l20 {
      margin-left:20px!important;
    }

    .m-mar-l25 {
      margin-left:25px!important;
    }

    .m-mar-l30 {
      margin-left:30px!important;
    }

    .m-mar-l35 {
      margin-left:35px!important;
    }

    .m-mar-l40 {
      margin-left:40px!important;
    }

    .m-mar-l45 {
      margin-left:45px!important;
    }

    .m-mar-l50 {
      margin-left:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-mar-l0 {
      margin-left:0px!important;
    }

    .l-mar-l5 {
      margin-left:5px!important;
    }

    .l-mar-l10 {
      margin-left:10px!important;
    }

    .l-mar-l15 {
      margin-left:15px!important;
    }

    .l-mar-l20 {
      margin-left:20px!important;
    }

    .l-mar-l25 {
      margin-left:25px!important;
    }

    .l-mar-l30 {
      margin-left:30px!important;
    }

    .l-mar-l35 {
      margin-left:35px!important;
    }

    .l-mar-l40 {
      margin-left:40px!important;
    }

    .l-mar-l45 {
      margin-left:45px!important;
    }

    .l-mar-l50 {
      margin-left:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Absolute padding
/* -------------------------------------------------------------------------- */
  .s-pad-0 {
    padding:0px!important;
  }

  .s-pad-5 {
    padding:5px!important;
  }

  .s-pad-10 {
    padding:10px!important;
  }

  .s-pad-15 {
    padding:15px!important;
  }

  .s-pad-20 {
    padding:20px!important;
  }

  .s-pad-25 {
    padding:25px!important;
  }

  .s-pad-30 {
    padding:30px!important;
  }

  .s-pad-35 {
    padding:35px!important;
  }

  .s-pad-40 {
    padding:40px!important;
  }

  .s-pad-45 {
    padding:45px!important;
  }

  .s-pad-50 {
    padding:50px!important;
  }

  @media (min-width: 601px) {
    .m-pad-0 {
      padding:0px!important;
    }

    .m-pad-5 {
      padding:5px!important;
    }

    .m-pad-10 {
      padding:10px!important;
    }

    .m-pad-15 {
      padding:15px!important;
    }

    .m-pad-20 {
      padding:20px!important;
    }

    .m-pad-25 {
      padding:25px!important;
    }

    .m-pad-30 {
      padding:30px!important;
    }

    .m-pad-35 {
      padding:35px!important;
    }

    .m-pad-40 {
      padding:40px!important;
    }

    .m-pad-45 {
      padding:45px!important;
    }

    .m-pad-50 {
      padding:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-pad-0 {
      padding:0px!important;
    }

    .l-pad-5 {
      padding:5px!important;
    }

    .l-pad-10 {
      padding:10px!important;
    }

    .l-pad-15 {
      padding:15px!important;
    }

    .l-pad-20 {
      padding:20px!important;
    }

    .l-pad-25 {
      padding:25px!important;
    }

    .l-pad-30 {
      padding:30px!important;
    }

    .l-pad-35 {
      padding:35px!important;
    }

    .l-pad-40 {
      padding:40px!important;
    }

    .l-pad-45 {
      padding:45px!important;
    }

    .l-pad-50 {
      padding:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Padding top
/* -------------------------------------------------------------------------- */
  .s-pad-t0 {
    padding-top:0px!important;
  }

  .s-pad-t5 {
    padding-top:5px!important;
  }

  .s-pad-t10 {
    padding-top:10px!important;
  }

  .s-pad-t15 {
    padding-top:15px!important;
  }

  .s-pad-t20 {
    padding-top:20px!important;
  }

  .s-pad-t25 {
    padding-top:25px!important;
  }

  .s-pad-t30 {
    padding-top:30px!important;
  }

  .s-pad-t35 {
    padding-top:35px!important;
  }

  .s-pad-t40 {
    padding-top:40px!important;
  }

  .s-pad-t45 {
    padding-top:45px!important;
  }

  .s-pad-t50 {
    padding-top:50px!important;
  }

  @media (min-width: 601px) {
    .m-pad-t0 {
      padding-top:0px!important;
    }

    .m-pad-t5 {
      padding-top:5px!important;
    }

    .m-pad-t10 {
      padding-top:10px!important;
    }

    .m-pad-t15 {
      padding-top:15px!important;
    }

    .m-pad-t20 {
      padding-top:20px!important;
    }

    .m-pad-t25 {
      padding-top:25px!important;
    }

    .m-pad-t30 {
      padding-top:30px!important;
    }

    .m-pad-t35 {
      padding-top:35px!important;
    }

    .m-pad-t40 {
      padding-top:40px!important;
    }

    .m-pad-t45 {
      padding-top:45px!important;
    }

    .m-pad-t50 {
      padding-top:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-pad-t0 {
      padding-top:0px!important;
    }

    .l-pad-t5 {
      padding-top:5px!important;
    }

    .l-pad-t10 {
      padding-top:10px!important;
    }

    .l-pad-t15 {
      padding-top:15px!important;
    }

    .l-pad-t20 {
      padding-top:20px!important;
    }

    .l-pad-t25 {
      padding-top:25px!important;
    }

    .l-pad-t30 {
      padding-top:30px!important;
    }

    .l-pad-t35 {
      padding-top:35px!important;
    }

    .l-pad-t40 {
      padding-top:40px!important;
    }

    .l-pad-t45 {
      padding-top:45px!important;
    }

    .l-pad-t50 {
      padding-top:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Padding right
/* -------------------------------------------------------------------------- */
  .s-pad-r0 {
    padding-right:0px!important;
  }

  .s-pad-r5 {
    padding-right:5px!important;
  }

  .s-pad-r10 {
    padding-right:10px!important;
  }

  .s-pad-r15 {
    padding-right:15px!important;
  }

  .s-pad-r20 {
    padding-right:20px!important;
  }

  .s-pad-r25 {
    padding-right:25px!important;
  }

  .s-pad-r30 {
    padding-right:30px!important;
  }

  .s-pad-r35 {
    padding-right:35px!important;
  }

  .s-pad-r40 {
    padding-right:40px!important;
  }

  .s-pad-r45 {
    padding-right:45px!important;
  }

  .s-pad-r50 {
    padding-right:50px!important;
  }

  @media (min-width: 601px) {
    .m-pad-r0 {
      padding-right:0px!important;
    }

    .m-pad-r5 {
      padding-right:5px!important;
    }

    .m-pad-r10 {
      padding-right:10px!important;
    }

    .m-pad-r15 {
      padding-right:15px!important;
    }

    .m-pad-r20 {
      padding-right:20px!important;
    }

    .m-pad-r25 {
      padding-right:25px!important;
    }

    .m-pad-r30 {
      padding-right:30px!important;
    }

    .m-pad-r35 {
      padding-right:35px!important;
    }

    .m-pad-r40 {
      padding-right:40px!important;
    }

    .m-pad-r45 {
      padding-right:45px!important;
    }

    .m-pad-r50 {
      padding-right:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-pad-r0 {
      padding-right:0px!important;
    }

    .l-pad-r5 {
      padding-right:5px!important;
    }

    .l-pad-r10 {
      padding-right:10px!important;
    }

    .l-pad-r15 {
      padding-right:15px!important;
    }

    .l-pad-r20 {
      padding-right:20px!important;
    }

    .l-pad-r25 {
      padding-right:25px!important;
    }

    .l-pad-r30 {
      padding-right:30px!important;
    }

    .l-pad-r35 {
      padding-right:35px!important;
    }

    .l-pad-r40 {
      padding-right:40px!important;
    }

    .l-pad-r45 {
      padding-right:45px!important;
    }

    .l-pad-r50 {
      padding-right:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Padding bottom
/* -------------------------------------------------------------------------- */
  .s-pad-b0 {
    padding-bottom:0px!important;
  }

  .s-pad-b5 {
    padding-bottom:5px!important;
  }

  .s-pad-b10 {
    padding-bottom:10px!important;
  }

  .s-pad-b15 {
    padding-bottom:15px!important;
  }

  .s-pad-b20 {
    padding-bottom:20px!important;
  }

  .s-pad-b25 {
    padding-bottom:25px!important;
  }

  .s-pad-b30 {
    padding-bottom:30px!important;
  }

  .s-pad-b35 {
    padding-bottom:35px!important;
  }

  .s-pad-b40 {
    padding-bottom:40px!important;
  }

  .s-pad-b45 {
    padding-bottom:45px!important;
  }

  .s-pad-b50 {
    padding-bottom:50px!important;
  }

  @media (min-width: 601px) {
    .m-pad-b0 {
      padding-bottom:0px!important;
    }

    .m-pad-b5 {
      padding-bottom:5px!important;
    }

    .m-pad-b10 {
      padding-bottom:10px!important;
    }

    .m-pad-b15 {
      padding-bottom:15px!important;
    }

    .m-pad-b20 {
      padding-bottom:20px!important;
    }

    .m-pad-b25 {
      padding-bottom:25px!important;
    }

    .m-pad-b30 {
      padding-bottom:30px!important;
    }

    .m-pad-b35 {
      padding-bottom:35px!important;
    }

    .m-pad-b40 {
      padding-bottom:40px!important;
    }

    .m-pad-b45 {
      padding-bottom:45px!important;
    }

    .m-pad-b50 {
      padding-bottom:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-pad-b0 {
      padding-bottom:0px!important;
    }

    .l-pad-b5 {
      padding-bottom:5px!important;
    }

    .l-pad-b10 {
      padding-bottom:10px!important;
    }

    .l-pad-b15 {
      padding-bottom:15px!important;
    }

    .l-pad-b20 {
      padding-bottom:20px!important;
    }

    .l-pad-b25 {
      padding-bottom:25px!important;
    }

    .l-pad-b30 {
      padding-bottom:30px!important;
    }

    .l-pad-b35 {
      padding-bottom:35px!important;
    }

    .l-pad-b40 {
      padding-bottom:40px!important;
    }

    .l-pad-b45 {
      padding-bottom:45px!important;
    }

    .l-pad-b50 {
      padding-bottom:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Padding left
/* -------------------------------------------------------------------------- */
  .s-pad-l0 {
    padding-left:0px!important;
  }

  .s-pad-l5 {
    padding-left:5px!important;
  }

  .s-pad-l10 {
    padding-left:10px!important;
  }

  .s-pad-l15 {
    padding-left:15px!important;
  }

  .s-pad-l20 {
    padding-left:20px!important;
  }

  .s-pad-l25 {
    padding-left:25px!important;
  }

  .s-pad-l30 {
    padding-left:30px!important;
  }

  .s-pad-l35 {
    padding-left:35px!important;
  }

  .s-pad-l40 {
    padding-left:40px!important;
  }

  .s-pad-l45 {
    padding-left:45px!important;
  }

  .s-pad-l50 {
    padding-left:50px!important;
  }

  @media (min-width: 601px) {
    .m-pad-l0 {
      padding-left:0px!important;
    }

    .m-pad-l5 {
      padding-left:5px!important;
    }

    .m-pad-l10 {
      padding-left:10px!important;
    }

    .m-pad-l15 {
      padding-left:15px!important;
    }

    .m-pad-l20 {
      padding-left:20px!important;
    }

    .m-pad-l25 {
      padding-left:25px!important;
    }

    .m-pad-l30 {
      padding-left:30px!important;
    }

    .m-pad-l35 {
      padding-left:35px!important;
    }

    .m-pad-l40 {
      padding-left:40px!important;
    }

    .m-pad-l45 {
      padding-left:45px!important;
    }

    .m-pad-l50 {
      padding-left:50px!important;
    }

  }

  @media (min-width: 993px) {
    .l-pad-l0 {
      padding-left:0px!important;
    }

    .l-pad-l5 {
      padding-left:5px!important;
    }

    .l-pad-l10 {
      padding-left:10px!important;
    }

    .l-pad-l15 {
      padding-left:15px!important;
    }

    .l-pad-l20 {
      padding-left:20px!important;
    }

    .l-pad-l25 {
      padding-left:25px!important;
    }

    .l-pad-l30 {
      padding-left:30px!important;
    }

    .l-pad-l35 {
      padding-left:35px!important;
    }

    .l-pad-l40 {
      padding-left:40px!important;
    }

    .l-pad-l45 {
      padding-left:45px!important;
    }

    .l-pad-l50 {
      padding-left:50px!important;
    }

  }

/* -------------------------------------------------------------------------- */
/* Container wide size
/* -------------------------------------------------------------------------- */
  .wide.container {
    width: 100%;
  }

  @media only screen and (min-width : 601px) {
    .wide.container {
      width: 95%;
    }
  }

  @media only screen and (min-width : 601px) {
    .wide.container {
      width: 90%;
    }
  }

/* -------------------------------------------------------------------------- */
/* Objects without shadow
/* -------------------------------------------------------------------------- */
  .z-depth-0{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

/* -------------------------------------------------------------------------- */
/* Dividers
/* -------------------------------------------------------------------------- */
  *.h-divider {
    height: 1px!important;
    width: 100%!important;
    display: block!important;
    float: none!important;
    clear: both!important;
    overflow: hidden!important;
    border: none!important;
  }

  *.v-divider {
    height: 100%!important;
    width: 1px!important;
    display: inline-block!important;
    float: none!important;
    clear: both!important;
    overflow: hidden!important;
    border: none!important;
  }

/* -------------------------------------------------------------------------- */
/* Displays
/* -------------------------------------------------------------------------- */
  @media all and (max-width : 600px) {
    .s.inline-block{
      display: inline-block!important;
    };

    .s.block{
      display: block!important;
    };
  }

  @media all and (min-width: 601px) and (max-width : 992px) {
    .m.inline-block{
      display: inline-block!important;
    };

    .m.block{
      display: block!important;
    };
  }

  @media all and (min-width : 993px) {
    .l.inline-block{
      display: inline-block!important;
    };

    .l.block{
      display: block!important;
    };
  }


/* -------------------------------------------------------------------------- */
/* Borders
/* -------------------------------------------------------------------------- */
  .full-width{
    width: 100%;
  }

/* -------------------------------------------------------------------------- */
/* Borders
/* -------------------------------------------------------------------------- */
  *.borderless{
    border: none!important;
  }
