/* inputs */
input.deep-purple-focus[type=tel]:focus:not([readonly]),
input.deep-purple-focus[type=url]:focus:not([readonly]),
input.deep-purple-focus[type=time]:focus:not([readonly]),
input.deep-purple-focus[type=text]:focus:not([readonly]),
input.deep-purple-focus[type=date]:focus:not([readonly]),
input.deep-purple-focus[type=email]:focus:not([readonly]),
input.deep-purple-focus[type=number]:focus:not([readonly]),
input.deep-purple-focus[type=search]:focus:not([readonly]),
input.deep-purple-focus[type=password]:focus:not([readonly]),
input.deep-purple-focus[type=datetime-local]:focus:not([readonly]),
textarea.deep-purple-focus.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4527a0;
  box-shadow: 0 1px 0 0 #4527a0;
}

input.deep-purple-focus[type=url]:focus:not([readonly]) + label,
input.deep-purple-focus[type=tel]:focus:not([readonly]) + label,
input.deep-purple-focus[type=text]:focus:not([readonly]) + label,
input.deep-purple-focus[type=time]:focus:not([readonly]) + label,
input.deep-purple-focus[type=date]:focus:not([readonly]) + label,
input.deep-purple-focus[type=email]:focus:not([readonly]) + label,
input.deep-purple-focus[type=number]:focus:not([readonly]) + label,
input.deep-purple-focus[type=search]:focus:not([readonly]) + label,
input.deep-purple-focus[type=password]:focus:not([readonly]) + label,
input.deep-purple-focus[type=datetime-local]:focus:not([readonly]) + label,
textarea.deep-purple-focus.materialize-textarea:focus:not([readonly]) + label {
  color: #4527a0;
}

.input-field.deep-purple-focus .prefix.active {
  color: #4527a0;
}


/* Text styles */
.center,
.center-align {
    text-align: center!important;
}

/* navigation */
@media only screen and (max-width: 600px){
    nav .nav-wrapper i{
      height: 56px;
      line-height: 56px;
    }
}

.navbar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
